.dark-overlay, .hidden-overlay {
  position: absolute;
  left: -100vw;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.8);
  transition: transform ease-in-out 0.5s;

  .nav-responsive {
    background-color: $white;
    width: 60%;
    padding: 2rem;
    height: 100vh;

    img:hover {
      cursor: pointer;
    }

    .nav-items-responsive {
      list-style-type: none;
      display: flex;
      flex-direction: column;
      padding: 0;

      li {
        margin: 1rem 0;
        font-family: 'KumbhSans-Bold', sans-serif;
        font-size: 1.2rem;
      }
    }
  }
}

.dark-overlay {
  transform: translateX(100%);
}