.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 7rem;
  border-bottom: 1px solid $grayish-blue;

  @media screen and (max-width: 500px) {
    justify-content: space-around;
  }

  &__burger {
    display: none;

    @media screen and (max-width: 1150px) {
      display: inline;

      &:hover {
        cursor: pointer;
      }
    }
  }

  &__logo {
    width: 180px;
    height: 25px;
  }

  &__cart {
    width: 1.4rem;
    height: 1.4rem;

    &:hover {
      cursor: pointer;
    }
  }

  &__avatar {
    width: 3rem;
    height: 3rem;

    &:hover {
      cursor: pointer;
      border: 2px solid $primary-color;
      border-radius: 50%;
    }
  }
}