.nav {
  width: 65%;

  @media screen and (max-width: 1150px){
    visibility: hidden;
    width: 30%;
  }

  @media screen and (max-width: 650px) {
    width: 0%;
  }

  .nav-items {
    display: flex;
    justify-content: space-between;
    width: 60%;
    list-style-type: none;
    margin: 0;

    li {
      color: $grayish-blue;
      min-height: 7rem;
      display: flex;
      align-items: center;

      &:hover {
        cursor: pointer;
        border-bottom: 3px solid $primary-color;
        color: $dark-grayish-blue;
      }
    }
  }
}
