.portal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;

  @media screen and (max-width: 1250px) {
    display: none;
  }

  &__close {
    position: relative;
    left: calc(35% / 2);
    align-self: center;
    margin-bottom: 1rem;
    
    &:hover {
      cursor: pointer;
    }
  }
}

.portal-image {
  display: flex;
  flex-direction: column;

  &__product-image {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__image-wrapper {
    width: 45%;
  }

  &__previous, &__next {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    
    &:hover {
      cursor: pointer;
    }
  }

  &__next {
    position: relative;
    right: 25px;
  }

  &__previous {
    position: relative;
    left: 25px;
  }

  &__product-gallery {
    width: 40%;
    margin: auto;
  }
}