.article-description {

  @media screen and (max-width: 1250px) {
    width: 100%;
    margin-top: 2rem;
  }

  @media screen and (max-width: 500px) {
    padding: 2rem;
  }

  &__company {
    color: $primary-color;
    font-size: 1rem;
    letter-spacing: 0.1rem;
  }

  &__title {
    margin-top: 0;

    @media screen and (max-width: 500px) {
      font-size: 2.5rem;
    }
  }

  &__text {
    color: $grayish-blue;

    @media screen and (max-width: 500px) {
      line-height: 1.5rem;
    }
  }
}