@font-face {
  font-family: 'KumbhSans-Bold';
  src: url("./fonts/KumbhSans-Bold.ttf");
}

@font-face {
  font-family: 'KumbhSans-Regular';
  src: url("./fonts/KumbhSans-Regular.ttf");
}

$primary-color: hsl(26, 100%, 55%);
$secondary-color: hsl(25, 100%, 94%);
$dark-grayish-blue : hsl(220, 13%, 13%);
$grayish-blue: hsl(220, 14%, 75%);
$light-grayish-blue: hsl(223, 64%, 98%);
$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);

* {
  box-sizing: border-box;
}

body {
  font-family: 'KumbhSans-Regular', sans-serif;
  margin: 0;
  font-size: 16px;
  width: 80%;
  margin: auto;
  font-weight: 400;

  @media screen and (max-width: 500px) {
    width: 100%;
  }
}

h3, h4, h5, h6 {
  font-family: 'KumbhSans-Bold', sans-serif;
  font-weight: 700;
}

h3 {
  font-size: 3.5rem;
}

h4 {
  font-size: 2.5rem;
}

h5 {
  letter-spacing: 0.15rem;
}

h6 {
  font-size: 1.2rem;
}

.button {
  background-color: $primary-color;
  color: $white;
  border-radius: 10px;
  border: none;
  width: 70%;
  min-height: 3.5rem;

  &:hover {
    cursor: pointer;
    opacity: 0.5;
  }

  @media screen and (max-width: 1250px) {
    width: 100%;
  }
}